<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gz-ohaqyrf@znpebzngrf.pbz</string>
	<key>contactName</key>
	<string>Allan Odgaard</string>
	<key>description</key>
	<string>Hypertext Markup Language support.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>7B7E945E-A112-11D9-A5A2-000D93C8BE28</string>
			<string>3C44EABE-8D6F-4B1B-AB91-F419FAD1A0AD</string>
		</array>
		<key>items</key>
		<array>
			<string>637CEA2B-578C-429C-BB74-30E8D42BFA22</string>
			<string>3F26240E-6E4A-11D9-B411-000D93589AF6</string>
			<string>------------------------------------</string>
			<string>AC5F664E-86BA-4D81-B6CE-1B12F69FA490</string>
			<string>970EE6B4-A091-11D9-A5A2-000D93C8BE28</string>
			<string>B8651C6E-A05E-11D9-86AC-000D93C8BE28</string>
			<string>------------------------------------</string>
			<string>F9C29821-4A19-4F5D-B9A2-F3C23360C044</string>
			<string>4142979F-46F3-477A-B03B-43E92FE40D99</string>
			<string>9B13543F-8356-443C-B6E7-D9259B604927</string>
			<string>------------------------------------</string>
			<string>2ED44A32-C353-447F-BAE4-E3522DB6944D</string>
			<string>0658019F-3635-462E-AAC2-74E4FE508A9B</string>
			<string>284758F3-866D-4953-A0A0-11ED3B607F01</string>
			<string>149FECAF-A325-4C2D-9B12-A9B131283945</string>
			<string>------------------------------------</string>
			<string>01F535FE-8F66-47A9-A6A2-93742869D7FC</string>
			<string>13E2ED53-AF99-4D07-931B-1A4C889B66D4</string>
			<string>------------------------------------</string>
			<string>BC8B8AE2-5F16-11D9-B9C3-000D93589AF6</string>
			<string>991E7EBD-F3F5-469A-BA01-DC30E04AD472</string>
			<string>912906A0-9A29-434B-AE98-E9DFDE6E48B4</string>
			<string>------------------------------------</string>
			<string>20D760B5-A127-11D9-A5A2-000D93C8BE28</string>
			<string>45F92B81-6F0E-11D9-A1E4-000D9332809C</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>01F535FE-8F66-47A9-A6A2-93742869D7FC</key>
			<dict>
				<key>items</key>
				<array>
					<string>0D814247-7A00-46EE-A2A4-45FBBF4B1181</string>
					<string>4400BCE9-20E3-426E-B1D7-2C0BCA53BCF8</string>
					<string>CA24BD98-E4B6-48F8-B15A-84CC533BE1BD</string>
					<string>9AFDEB2C-D9F0-423E-8211-EBB089F51F0C</string>
				</array>
				<key>name</key>
				<string>Includes</string>
			</dict>
			<key>13E2ED53-AF99-4D07-931B-1A4C889B66D4</key>
			<dict>
				<key>items</key>
				<array>
					<string>4117D930-B6FA-4022-97E7-ECCAF4E70F63</string>
					<string>EBB98620-3292-4621-BA38-D8A9A65D9551</string>
				</array>
				<key>name</key>
				<string>Format</string>
			</dict>
			<key>149FECAF-A325-4C2D-9B12-A9B131283945</key>
			<dict>
				<key>items</key>
				<array>
					<string>64F212E5-545D-4D36-A243-B452B10EC678</string>
					<string>------------------------------------</string>
					<string>8C826982-F460-43FA-BA31-476EE410F101</string>
					<string>4462A6B8-A08A-11D9-A5A2-000D93C8BE28</string>
					<string>4905D47B-A08B-11D9-A5A2-000D93C8BE28</string>
					<string>3E008E42-A5C9-11D9-9BCD-000D93C8BE28</string>
					<string>C6007DCF-3603-459A-B723-5A8582E77E89</string>
					<string>576036C0-A60E-11D9-ABD6-000D93C8BE28</string>
					<string>9BD2BE01-A854-4D55-B584-725D04C075C0</string>
					<string>232C2E8B-A08E-11D9-A5A2-000D93C8BE28</string>
					<string>9CF008C4-A086-11D9-A5A2-000D93C8BE28</string>
					<string>65BA66DC-A07F-11D9-A5A2-000D93C8BE28</string>
					<string>44180979-A08E-11D9-A5A2-000D93C8BE28</string>
					<string>D8DCCC81-749A-4E2A-B4BC-D109D5799CAA</string>
					<string>77BFD0C0-A08A-11D9-A5A2-000D93C8BE28</string>
					<string>81DA4C74-A530-11D9-9BCD-000D93C8BE28</string>
					<string>DA99AC44-A083-11D9-A5A2-000D93C8BE28</string>
					<string>5820372E-A093-4F38-B25C-B0CCC50A0FC4</string>
					<string>DB9B4DA1-B050-48FC-8241-117F6897013B</string>
					<string>6592050A-A087-11D9-A5A2-000D93C8BE28</string>
					<string>7D676C4C-A087-11D9-A5A2-000D93C8BE28</string>
					<string>26023CFF-C73F-4EF5-9803-E4DBA2CBEADD</string>
					<string>2A98CB53-7B41-48BF-ADFD-EB701EE61F84</string>
					<string>3C518074-A088-11D9-A5A2-000D93C8BE28</string>
					<string>57176082-A12F-11D9-A5A2-000D93C8BE28</string>
					<string>AAC9D7B8-A12C-11D9-A5A2-000D93C8BE28</string>
					<string>B62ECABE-A086-11D9-A5A2-000D93C8BE28</string>
					<string>F4D90AE0-533A-493D-8949-DA9D5F4C53C8</string>
					<string>42F15753-9B6D-4DD8-984C-807B94363277</string>
				</array>
				<key>name</key>
				<string>Insert Tag</string>
			</dict>
			<key>284758F3-866D-4953-A0A0-11ED3B607F01</key>
			<dict>
				<key>items</key>
				<array>
					<string>08E4F47C-A570-4F9B-A6AE-DCAC0D2E2420</string>
					<string>------------------------------------</string>
					<string>944F1410-188C-4D70-8340-CECAA56FC7F2</string>
					<string>B2AAEE56-42D8-42C3-8F67-865473F50E8D</string>
					<string>------------------------------------</string>
					<string>9ED6ABBE-A802-11D9-BFC8-000D93C8BE28</string>
					<string>C8B83564-A802-11D9-BFC8-000D93C8BE28</string>
					<string>7D8C2F74-A802-11D9-BFC8-000D93C8BE28</string>
					<string>5CE8FC6E-A802-11D9-BFC8-000D93C8BE28</string>
				</array>
				<key>name</key>
				<string>Insert DocType</string>
			</dict>
			<key>4142979F-46F3-477A-B03B-43E92FE40D99</key>
			<dict>
				<key>items</key>
				<array>
					<string>6B024865-6095-4CE3-8EDD-DC6F2230C2FF</string>
					<string>2C4C9673-B166-432A-8938-75A5CA622481</string>
				</array>
				<key>name</key>
				<string>URL Escapes</string>
			</dict>
			<key>F9C29821-4A19-4F5D-B9A2-F3C23360C044</key>
			<dict>
				<key>items</key>
				<array>
					<string>3DD8406C-A116-11D9-A5A2-000D93C8BE28</string>
					<string>43C9E8AE-3E53-4B82-A1AF-56697BB3EF09</string>
					<string>C183920D-A126-11D9-A5A2-000D93C8BE28</string>
					<string>------------------------------------</string>
					<string>73B40BAE-A295-11D9-87F7-000D93C8BE28</string>
					<string>------------------------------------</string>
					<string>89E5CC0A-3EFF-4DEF-A299-2E9651DE6529</string>
				</array>
				<key>name</key>
				<string>Entities</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>HTML</string>
	<key>uuid</key>
	<string>4676FC6D-6227-11D9-BFB1-000D93589AF6</string>
</dict>
</plist>
