<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>html</string>
		<string>htm</string>
		<string>shtml</string>
		<string>xhtml</string>
		<string>inc</string>
		<string>tmpl</string>
		<string>tpl</string>
	</array>
	<key>firstLineMatch</key>
	<string>&lt;(?i:(!DOCTYPE\s*)?html)</string>
	<key>injections</key>
	<dict>
		<key>R:text.html - (comment.block, text.html source)</key>
		<dict>
			<key>comment</key>
			<string>Use R: to ensure this matches after any other injections.</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;</string>
					<key>name</key>
					<string>invalid.illegal.bad-angle-bracket.html</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>keyEquivalent</key>
	<string>^~H</string>
	<key>name</key>
	<string>HTML</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>(&lt;\?)(xml)</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(\?&gt;)</string>
			<key>name</key>
			<string>meta.tag.metadata.processing.xml.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>&lt;!--</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.comment.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>--&gt;</string>
			<key>name</key>
			<string>comment.block.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>match</key>
					<string>\G-?&gt;</string>
					<key>name</key>
					<string>invalid.illegal.characters-not-allowed-here.html</string>
				</dict>
				<dict>
					<key>match</key>
					<string>&lt;!--(?!&gt;)|&lt;!-(?=--&gt;)</string>
					<key>name</key>
					<string>invalid.illegal.characters-not-allowed-here.html</string>
				</dict>
				<dict>
					<key>match</key>
					<string>--!&gt;</string>
					<key>name</key>
					<string>invalid.illegal.characters-not-allowed-here.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>&lt;!</string>
			<key>captures</key>
			<dict>
				<key>0</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>&gt;</string>
			<key>name</key>
			<string>meta.tag.metadata.processing.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(?i:DOCTYPE)</string>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?=&gt;)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>match</key>
							<string>"[^"&gt;]*"</string>
							<key>name</key>
							<string>string.quoted.double.doctype.identifiers-and-DTDs.html</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>\[CDATA\[</string>
					<key>end</key>
					<string>]](?=&gt;)</string>
					<key>name</key>
					<string>constant.other.inline-data.html</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(^[ \t]+)?(?=&lt;(?i:style)\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.embedded.leading.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?!\G)([ \t]*$\n?)?</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.embedded.trailing.html</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(&lt;)((?i:style))\b</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.metadata.style.html</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.html</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(/&gt;)|(&gt;)(((&lt;)/)(\2)(&gt;))|((&lt;)/)((?i:style))(&gt;)</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.metadata.style.html</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
						<key>10</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
						<key>11</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
						<key>4</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.html</string>
						</dict>
						<key>5</key>
						<dict>
							<key>name</key>
							<string>meta.scope.between-tag-pair.html</string>
						</dict>
						<key>6</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
						<key>7</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
						<key>8</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.html</string>
						</dict>
						<key>9</key>
						<dict>
							<key>name</key>
							<string>source.css</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.embedded.block.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>begin</key>
							<string>\G</string>
							<key>captures</key>
							<dict>
								<key>1</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.tag.end.html</string>
								</dict>
							</dict>
							<key>end</key>
							<string>(?=/&gt;)|(&gt;)</string>
							<key>name</key>
							<string>meta.tag.metadata.style.html</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#tag-stuff</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>begin</key>
							<string>(?!\G)</string>
							<key>end</key>
							<string>(?=&lt;/(?i:style))</string>
							<key>name</key>
							<string>source.css</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>source.css</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(^[ \t]+)?(?=&lt;(?i:script)\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.embedded.leading.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(?!\G)([ \t]*$\n?)?</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.whitespace.embedded.trailing.html</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>(&lt;)((?i:script))\b</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.metadata.script.html</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.html</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(/&gt;)|(/)((?i:script))(&gt;)</string>
					<key>endCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>meta.tag.metadata.script.html</string>
						</dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.begin.html</string>
						</dict>
						<key>3</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.html</string>
						</dict>
						<key>4</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.tag.end.html</string>
						</dict>
					</dict>
					<key>name</key>
					<string>meta.embedded.block.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>begin</key>
							<string>\G</string>
							<key>end</key>
							<string>(?=/&gt;|/)</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>captures</key>
									<dict>
										<key>0</key>
										<dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
										</dict>
										<key>1</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.end.html</string>
										</dict>
										<key>2</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.begin.html</string>
										</dict>
										<key>3</key>
										<dict>
											<key>name</key>
											<string>source.js</string>
										</dict>
										<key>4</key>
										<dict>
											<key>name</key>
											<string>meta.scope.between-tag-pair.html</string>
										</dict>
									</dict>
									<key>match</key>
									<string>(&gt;)(((&lt;)))(?=/(?i:script))</string>
								</dict>
								<dict>
									<key>begin</key>
									<string>(&gt;)</string>
									<key>beginCaptures</key>
									<dict>
										<key>0</key>
										<dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
										</dict>
										<key>1</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.end.html</string>
										</dict>
									</dict>
									<key>end</key>
									<string>((&lt;))(?=/(?i:script))</string>
									<key>endCaptures</key>
									<dict>
										<key>0</key>
										<dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
										</dict>
										<key>1</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.begin.html</string>
										</dict>
										<key>2</key>
										<dict>
											<key>name</key>
											<string>source.js</string>
										</dict>
									</dict>
									<key>patterns</key>
									<array>
										<dict>
											<key>begin</key>
											<string>\G</string>
											<key>end</key>
											<string>(?=&lt;/(?i:script))</string>
											<key>name</key>
											<string>source.js</string>
											<key>patterns</key>
											<array>
												<dict>
													<key>begin</key>
													<string>(^[ \t]+)?(?=//)</string>
													<key>beginCaptures</key>
													<dict>
														<key>1</key>
														<dict>
															<key>name</key>
															<string>punctuation.whitespace.comment.leading.js</string>
														</dict>
													</dict>
													<key>end</key>
													<string>(?!\G)</string>
													<key>patterns</key>
													<array>
														<dict>
															<key>begin</key>
															<string>//</string>
															<key>beginCaptures</key>
															<dict>
																<key>0</key>
																<dict>
																	<key>name</key>
																	<string>punctuation.definition.comment.js</string>
																</dict>
															</dict>
															<key>end</key>
															<string>(?=&lt;/script)|\n</string>
															<key>name</key>
															<string>comment.line.double-slash.js</string>
														</dict>
													</array>
												</dict>
												<dict>
													<key>begin</key>
													<string>/\*</string>
													<key>captures</key>
													<dict>
														<key>0</key>
														<dict>
															<key>name</key>
															<string>punctuation.definition.comment.js</string>
														</dict>
													</dict>
													<key>end</key>
													<string>\*/|(?=&lt;/script)</string>
													<key>name</key>
													<string>comment.block.js</string>
												</dict>
												<dict>
													<key>include</key>
													<string>source.js</string>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
								<dict>
									<key>begin</key>
									<string>\G</string>
									<key>end</key>
									<string>(?ix:
										(?=/?&gt;											# Tag without type attribute
										  | type(?=[\s=])
										  	(?!\s*=\s*
												(
													''								# Empty
												  | ""									#   Values
												  | ('|"|)
													(
														text/							# Text mime-types
														(
															javascript(1\.[0-5])?
														  | x-javascript
														  | jscript
														  | livescript
														  | (x-)?ecmascript
														  | babel						# Javascript variant currently
														  								#   recognized as such
													  	)
													  | application/					# Application mime-types
													  	(
															(x-)?javascript
														  | (x-)?ecmascript
														)
													  | module
												  	)
													[\s"'&gt;]
												)
											)
										)
									)</string>
									<key>name</key>
									<string>meta.tag.metadata.script.html</string>
									<key>patterns</key>
									<array>
										<dict>
											<key>include</key>
											<string>#tag-stuff</string>
										</dict>
									</array>
								</dict>
								<dict>
									<key>begin</key>
									<string>(?ix:
										(?=
											type\s*=\s*
											('|"|)
											text/
											(
												x-handlebars
											  | (x-(handlebars-)?|ng-)?template
											  | html
											)
											[\s"'&gt;]
										)
									)</string>
									<key>end</key>
									<string>(?&lt;=&gt;)(((&lt;)))(?=/(?i:script))|((&lt;))(?=/(?i:script))|(?=/&gt;)</string>
									<key>endCaptures</key>
									<dict>
										<key>0</key>
										<dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
										</dict>
										<key>1</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.begin.html</string>
										</dict>
										<key>2</key>
										<dict>
											<key>name</key>
											<string>text.html.basic</string>
										</dict>
										<key>3</key>
										<dict>
											<key>name</key>
											<string>meta.scope.between-tag-pair.html</string>
										</dict>
										<key>4</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.begin.html</string>
										</dict>
										<key>5</key>
										<dict>
											<key>name</key>
											<string>text.html.basic</string>
										</dict>
									</dict>
									<key>patterns</key>
									<array>
										<dict>
											<key>begin</key>
											<string>\G</string>
											<key>end</key>
											<string>(&gt;)|(?=/&gt;)</string>
											<key>endCaptures</key>
											<dict>
												<key>1</key>
												<dict>
													<key>name</key>
													<string>punctuation.definition.tag.end.html</string>
												</dict>
											</dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
											<key>patterns</key>
											<array>
												<dict>
													<key>include</key>
													<string>#tag-stuff</string>
												</dict>
											</array>
										</dict>
										<dict>
											<key>begin</key>
											<string>(?!\G)</string>
											<key>end</key>
											<string>(?=&lt;/(?i:script))</string>
											<key>name</key>
											<string>text.html.basic</string>
											<key>patterns</key>
											<array>
												<dict>
													<key>include</key>
													<string>text.html.basic</string>
												</dict>
											</array>
										</dict>
									</array>
								</dict>
								<dict>
									<key>begin</key>
									<string>(?=(?i:type))</string>
									<key>end</key>
									<string>(?&lt;=&gt;)((&lt;))(?=/(?i:script))|(&lt;)(?=/(?i:script))|(?=/&gt;)</string>
									<key>endCaptures</key>
									<dict>
										<key>0</key>
										<dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
										</dict>
										<key>1</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.begin.html</string>
										</dict>
										<key>2</key>
										<dict>
											<key>name</key>
											<string>meta.scope.between-tag-pair.html</string>
										</dict>
										<key>3</key>
										<dict>
											<key>name</key>
											<string>punctuation.definition.tag.begin.html</string>
										</dict>
									</dict>
									<key>patterns</key>
									<array>
										<dict>
											<key>begin</key>
											<string>\G</string>
											<key>end</key>
											<string>(&gt;)|(?=/&gt;)</string>
											<key>endCaptures</key>
											<dict>
												<key>1</key>
												<dict>
													<key>name</key>
													<string>punctuation.definition.tag.end.html</string>
												</dict>
											</dict>
											<key>name</key>
											<string>meta.tag.metadata.script.html</string>
											<key>patterns</key>
											<array>
												<dict>
													<key>include</key>
													<string>#tag-stuff</string>
												</dict>
											</array>
										</dict>
										<dict>
											<key>begin</key>
											<string>(?!\G)</string>
											<key>end</key>
											<string>(?=&lt;/(?i:script))</string>
											<key>name</key>
											<string>source.unknown</string>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)((?i:base|link|meta|noscript|script|style|title)\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(/?&gt;)(((&lt;)/)(\2)(&gt;))?</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>meta.scope.between-tag-pair.html</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>6</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.metadata.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)((?i:address|article|aside|blockquote|body|button|caption|col|colgroup|datalist|dd|details|dialog|div|dl|dt|fieldset|figcaption|figure|footer|form|head|header|hgroup|hr|html|h[1-6]|input|label|legend|li|main|map|menu|meter|nav|ol|optgroup|option|output|p|pre|progress|section|select|slot|summary|table|tbody|td|template|textarea|tfoot|th|thead|tr|ul)\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(/?&gt;)(((&lt;)/)(\2)(&gt;))?</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>meta.scope.between-tag-pair.html</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>6</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.structure.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)((?i:a|abbr|area|b|bdi|bdo|br|cite|code|data|del|dfn|em|i|ins|kbd|mark|q|rp|rt|ruby|s|samp|small|span|strong|sub|sup|time|u|var|wbr)\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.inline.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)((?i:audio|canvas|embed|iframe|img|object|param|picture|source|track|video)\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.object.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)(((?i:basefont|isindex))\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.deprecated.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.metadata.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)(((?i:center|frameset|menu|noembed|noframes))\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.deprecated.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.structure.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)(((?i:acronym|big|blink|font|strike|tt|xmp))\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.deprecated.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.inline.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)(((?i:applet|frame))\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.deprecated.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.object.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)(((?i:dir|keygen|listing|menuitem|plaintext|spacer))\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.illegal.no-longer-supported.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.other.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)(((?i:[\w:]+))\b(?!-))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
				<key>3</key>
				<dict>
					<key>name</key>
					<string>invalid.illegal.unrecognized-tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>((?: ?/)?&gt;)</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.other.$2.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>begin</key>
			<string>(&lt;/?)((?i:[a-z][.0-9_a-zx{00B7}\x{00C0}-\x{00D6}\x{00D8}-\x{00F6}\x{00F8}-\x{037D}\x{037F}-\x{1FFF}\x{200C}-\x{200D}\x{203F}-\x{2040}\x{2070}-\x{218F}\x{2C00}-\x{2FEF}\x{3001}-\x{D7FF}\x{F900}-\x{FDCF}\x{FDF0}-\x{FFFD}\x{10000}-\x{EFFFF}]*-[.0-9_a-zx{00B7}\x{00C0}-\x{00D6}\x{00D8}-\x{00F6}\x{00F8}-\x{037D}\x{037F}-\x{1FFF}\x{200C}-\x{200D}\x{203F}-\x{2040}\x{2070}-\x{218F}\x{2C00}-\x{2FEF}\x{3001}-\x{D7FF}\x{F900}-\x{FDCF}\x{FDF0}-\x{FFFD}\x{10000}-\x{EFFFF}]*))</string>
			<key>beginCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.html</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(/&gt;)|(&gt;)(((&lt;)/)(\2)(&gt;))?</string>
			<key>endCaptures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
				<key>2</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
				<key>4</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.begin.html</string>
				</dict>
				<key>5</key>
				<dict>
					<key>name</key>
					<string>meta.scope.between-tag-pair.html</string>
				</dict>
				<key>6</key>
				<dict>
					<key>name</key>
					<string>entity.name.tag.custom.html</string>
				</dict>
				<key>7</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.end.html</string>
				</dict>
			</dict>
			<key>name</key>
			<string>meta.tag.custom.html</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#tag-stuff</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>include</key>
			<string>#entities</string>
		</dict>
		<dict>
			<key>match</key>
			<string>&lt;&gt;</string>
			<key>name</key>
			<string>invalid.illegal.incomplete.html</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>attribute-interior</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>=</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>punctuation.separator.key-value.html</string>
						</dict>
					</dict>
					<key>end</key>
					<string>(?&lt;=[^\s=])(?!\s*=)|(?=/?&gt;)</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>match</key>
							<string>([^\s"'=&lt;&gt;`/]|/(?!&gt;))+</string>
							<key>name</key>
							<string>string.unquoted.html</string>
						</dict>
						<dict>
							<key>begin</key>
							<string>"</string>
							<key>beginCaptures</key>
							<dict>
								<key>0</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.begin.html</string>
								</dict>
							</dict>
							<key>end</key>
							<string>"</string>
							<key>endCaptures</key>
							<dict>
								<key>0</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.end.html</string>
								</dict>
							</dict>
							<key>name</key>
							<string>string.quoted.double.html</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#entities</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>begin</key>
							<string>'</string>
							<key>beginCaptures</key>
							<dict>
								<key>0</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.begin.html</string>
								</dict>
							</dict>
							<key>end</key>
							<string>'</string>
							<key>endCaptures</key>
							<dict>
								<key>0</key>
								<dict>
									<key>name</key>
									<string>punctuation.definition.string.end.html</string>
								</dict>
							</dict>
							<key>name</key>
							<string>string.quoted.single.html</string>
							<key>patterns</key>
							<array>
								<dict>
									<key>include</key>
									<string>#entities</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>match</key>
							<string>=</string>
							<key>name</key>
							<string>invalid.illegal.unexpected-equals-sign.html</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>entities</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>1</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.entity.html</string>
						</dict>
						<key>3</key>
						<dict>
							<key>name</key>
							<string>punctuation.definition.entity.html</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(&amp;)([a-zA-Z0-9]+|#[0-9]+|#[xX][0-9a-fA-F]+)(;)</string>
					<key>name</key>
					<string>constant.character.entity.html</string>
				</dict>
				<dict>
					<key>match</key>
					<string>&amp;</string>
					<key>name</key>
					<string>invalid.illegal.bad-ampersand.html</string>
				</dict>
			</array>
		</dict>
		<key>tag-stuff</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>begin</key>
					<string>((s(hape|cope|t(yle|ep|art)|ize(s)?|p(ellcheck|an)|elected|lot|andbox|rc(set|doc|lang)?)|h(ttp-equiv|i(dden|gh)|e(ight|aders)|ref(lang)?)|n(o(nce|validate|module)|ame)|c(h(ecked|arset)|ite|o(nt(ent(editable)?|rols)|ords|l(s(pan)?|or))|lass|rossorigin)|t(ype(mustmatch)?|itle|a(rget|bindex)|ranslate)|i(s(map)?|n(tegrity|putmode)|tem(scope|type|id|prop|ref)|d)|op(timum|en)|d(i(sabled|r(name)?)|ownload|e(coding|f(er|ault))|at(etime|a)|raggable)|usemap|p(ing|oster|la(ysinline|ceholder)|attern|reload)|enctype|value|kind|for(m(novalidate|target|enctype|action|method)?)?|w(idth|rap)|l(ist|o(op|w)|a(ng|bel))|a(s(ync)?|c(ce(sskey|pt(-charset)?)|tion)|uto(c(omplete|apitalize)|play|focus)|l(t|low(usermedia|paymentrequest|fullscreen))|bbr)|r(ows(pan)?|e(versed|quired|ferrerpolicy|l|adonly))|m(in(length)?|u(ted|ltiple)|e(thod|dia)|a(nifest|x(length)?))))(?![\w:-])</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.html</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>HTML5 attributes, not event handlers</string>
					<key>end</key>
					<string>(?=\s*+[^=\s])</string>
					<key>name</key>
					<string>meta.attribute.$1.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#attribute-interior</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>on(s(croll|t(orage|alled)|u(spend|bmit)|e(curitypolicyviolation|ek(ing|ed)|lect))|hashchange|c(hange|o(ntextmenu|py)|u(t|echange)|l(ick|ose)|an(cel|play(through)?))|t(imeupdate|oggle)|in(put|valid)|o(nline|ffline)|d(urationchange|r(op|ag(start|over|e(n(ter|d)|xit)|leave)?)|blclick)|un(handledrejection|load)|p(opstate|lay(ing)?|a(ste|use|ge(show|hide))|rogress)|e(nded|rror|mptied)|volumechange|key(down|up|press)|focus|w(heel|aiting)|l(oad(start|e(nd|d(data|metadata)))?|anguagechange)|a(uxclick|fterprint|bort)|r(e(s(ize|et)|jectionhandled)|atechange)|m(ouse(o(ut|ver)|down|up|enter|leave|move)|essage(error)?)|b(efore(unload|print)|lur))(?![\w:-])</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.html</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>HTML5 attributes, event handlers</string>
					<key>end</key>
					<string>(?=\s*+[^=\s])</string>
					<key>name</key>
					<string>meta.attribute.event-handler.$1.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#attribute-interior</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(data-[a-z\-]+)(?![\w:-])</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.html</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>HTML5 attributes, data-*</string>
					<key>end</key>
					<string>(?=\s*+[^=\s])</string>
					<key>name</key>
					<string>meta.attribute.data-x.$1.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#attribute-interior</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>(align|bgcolor|border)(?![\w:-])</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>invalid.deprecated.entity.other.attribute-name.html</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>HTML attributes, deprecated</string>
					<key>end</key>
					<string>(?=\s*+[^=\s])</string>
					<key>name</key>
					<string>meta.attribute.$1.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#attribute-interior</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>begin</key>
					<string>([^\x{0020}"'&gt;/=\x{0000}-\x{001F}\x{007F}-\x{009F}\x{FDD0}-\x{FDEF}\x{FFFE}\x{FFFF}\x{1FFFE}\x{1FFFF}\x{2FFFE}\x{2FFFF}\x{3FFFE}\x{3FFFF}\x{4FFFE}\x{4FFFF}\x{5FFFE}\x{5FFFF}\x{6FFFE}\x{6FFFF}\x{7FFFE}\x{7FFFF}\x{8FFFE}\x{8FFFF}\x{9FFFE}\x{9FFFF}\x{AFFFE}\x{AFFFF}\x{BFFFE}\x{BFFFF}\x{CFFFE}\x{CFFFF}\x{DFFFE}\x{DFFFF}\x{EFFFE}\x{EFFFF}\x{FFFFE}\x{FFFFF}\x{10FFFE}\x{10FFFF}]+)</string>
					<key>beginCaptures</key>
					<dict>
						<key>0</key>
						<dict>
							<key>name</key>
							<string>entity.other.attribute-name.html</string>
						</dict>
					</dict>
					<key>comment</key>
					<string>Anything else that is valid</string>
					<key>end</key>
					<string>(?=\s*+[^=\s])</string>
					<key>name</key>
					<string>meta.attribute.unrecognized.$1.html</string>
					<key>patterns</key>
					<array>
						<dict>
							<key>include</key>
							<string>#attribute-interior</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>match</key>
					<string>\S+</string>
					<key>name</key>
					<string>invalid.illegal.character-not-allowed-here.html</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.html.basic</string>
	<key>uuid</key>
	<string>17994EC8-6B1D-11D9-AC3A-000D93589AF6</string>
</dict>
</plist>
