<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby18 
#
# Lookup the current tag in the MDN web docs

$tags = {
  "a"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a",
  "abbr"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr",
  "acronym"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/acronym",
  "address"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address",
  "applet"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/applet",
  "area"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/area",
  "article"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article",
  "aside"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside",
  "audio"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio",
  "b"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b",
  "base"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base",
  "basefont"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/basefont",
  "bdi"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdi",
  "bdo"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdo",
  "bgsound"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bgsound",
  "big"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/big",
  "blink"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink",
  "blockquote" =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote",
  "body"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body",
  "br"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br",
  "button"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button",
  "canvas"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas",
  "caption"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption",
  "center"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center",
  "cite"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite",
  "code"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code",
  "col"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/col",
  "colgroup"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/colgroup",
  "command"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/command",
  "content"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/content",
  "data"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/data",
  "datalist"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist",
  "dd"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dd",
  "del"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del",
  "details"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details",
  "dfn"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn",
  "dialog"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog",
  "dir"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dir",
  "div"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div",
  "dl"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl",
  "dt"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt",
  "element"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/element",
  "em"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em",
  "embed"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/embed",
  "fieldset"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset",
  "figcaption" =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption",
  "figure"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure",
  "font"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/font",
  "footer"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer",
  "form"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form",
  "frame"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frame",
  "frameset"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frameset",
  "h1"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements",
  "head"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head",
  "header"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header",
  "hgroup"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hgroup",
  "hr"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr",
  "html"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html",
  "i"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i",
  "iframe"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe",
  "image"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image",
  "img"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img",
  "input"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input",
  "ins"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins",
  "isindex"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/isindex",
  "kbd"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd",
  "keygen"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/keygen",
  "label"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label",
  "legend"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend",
  "li"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li",
  "link"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link",
  "listing"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/listing",
  "main"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main",
  "map"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map",
  "mark"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark",
  "marquee"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee",
  "menu"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu",
  "menuitem"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menuitem",
  "meta"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta",
  "meter"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter",
  "multicol"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/multicol",
  "nav"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav",
  "nextid"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nextid",
  "nobr"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nobr",
  "noembed"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noembed",
  "noframes"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noframes",
  "noscript"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noscript",
  "object"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object",
  "ol"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol",
  "optgroup"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup",
  "option"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option",
  "output"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/output",
  "p"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p",
  "param"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/param",
  "picture"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture",
  "plaintext"  =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/plaintext",
  "pre"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre",
  "progress"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress",
  "q"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q",
  "rp"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rp",
  "rt"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rt",
  "rtc"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rtc",
  "ruby"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby",
  "s"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s",
  "samp"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp",
  "script"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script",
  "section"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section",
  "select"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select",
  "shadow"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/shadow",
  "slot"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot",
  "small"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small",
  "source"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source",
  "spacer"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/spacer",
  "span"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/span",
  "strike"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strike",
  "strong"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong",
  "style"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style",
  "sub"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub",
  "summary"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary",
  "sup"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup",
  "table"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table",
  "tbody"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tbody",
  "td"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td",
  "template"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template",
  "textarea"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea",
  "tfoot"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tfoot",
  "th"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th",
  "thead"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/thead",
  "time"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time",
  "title"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title",
  "tr"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr",
  "track"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track",
  "tt"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tt",
  "u"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u",
  "ul"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul",
  "var"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var",
  "video"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video",
  "wbr"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr",
  "xmp"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/xmp"
}

left_tag  = ENV["TM_SCOPE_LEFT"][/meta\.tag\.\w+\.(\w+)\.\w+\.html/, 1].to_s
right_tag = ENV["TM_SCOPE"][/meta\.tag\.\w+\.(\w+)\.\w+\.html/, 1].to_s

url = $tags[left_tag.downcase] || $tags[left_tagright_tag.downcase] || 'https://developer.mozilla.org/en-US/docs/Web/HTML/Element'

puts "&lt;meta http-equiv='Refresh' content='0;URL=#{url}'&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Tag</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>text.html, text.html entity.name.tag</string>
	<key>semanticClass</key>
	<string>lookup.define.html</string>
	<key>uuid</key>
	<string>637CEA2B-578C-429C-BB74-30E8D42BFA22</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
