<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/usr/bin/env ruby20
#
# Lookup the current tag in the MDN web docs

$tags = {
  "a"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a",
  "abbr"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/abbr",
  "acronym"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/acronym",
  "address"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/address",
  "applet"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/applet",
  "area"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/area",
  "article"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article",
  "aside"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/aside",
  "audio"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio",
  "b"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b",
  "base"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/base",
  "basefont"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/basefont",
  "bdi"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdi",
  "bdo"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bdo",
  "bgsound"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/bgsound",
  "big"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/big",
  "blink"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blink",
  "blockquote" =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote",
  "body"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body",
  "br"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br",
  "button"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button",
  "canvas"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/canvas",
  "caption"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption",
  "center"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/center",
  "cite"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite",
  "code"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/code",
  "col"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/col",
  "colgroup"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/colgroup",
  "command"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/command",
  "content"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/content",
  "data"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/data",
  "datalist"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist",
  "dd"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dd",
  "del"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/del",
  "details"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details",
  "dfn"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dfn",
  "dialog"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dialog",
  "dir"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dir",
  "div"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/div",
  "dl"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl",
  "dt"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt",
  "element"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/element",
  "em"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em",
  "embed"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/embed",
  "fieldset"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset",
  "figcaption" =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figcaption",
  "figure"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure",
  "font"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/font",
  "footer"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer",
  "form"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form",
  "frame"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frame",
  "frameset"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frameset",
  "h1"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements",
  "head"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head",
  "header"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header",
  "hgroup"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hgroup",
  "hr"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr",
  "html"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html",
  "i"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/i",
  "iframe"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe",
  "image"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image",
  "img"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img",
  "input"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input",
  "ins"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ins",
  "isindex"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/isindex",
  "kbd"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd",
  "keygen"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/keygen",
  "label"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label",
  "legend"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend",
  "li"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li",
  "link"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/link",
  "listing"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/listing",
  "main"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main",
  "map"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/map",
  "mark"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/mark",
  "marquee"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/marquee",
  "menu"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menu",
  "menuitem"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/menuitem",
  "meta"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta",
  "meter"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meter",
  "multicol"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/multicol",
  "nav"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav",
  "nextid"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nextid",
  "nobr"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nobr",
  "noembed"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noembed",
  "noframes"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noframes",
  "noscript"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/noscript",
  "object"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/object",
  "ol"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol",
  "optgroup"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/optgroup",
  "option"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/option",
  "output"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/output",
  "p"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p",
  "param"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/param",
  "picture"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture",
  "plaintext"  =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/plaintext",
  "pre"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/pre",
  "progress"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/progress",
  "q"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/q",
  "rp"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rp",
  "rt"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rt",
  "rtc"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/rtc",
  "ruby"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ruby",
  "s"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/s",
  "samp"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/samp",
  "script"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script",
  "section"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/section",
  "select"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select",
  "shadow"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/shadow",
  "slot"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/slot",
  "small"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small",
  "source"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/source",
  "spacer"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/spacer",
  "span"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/span",
  "strike"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strike",
  "strong"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong",
  "style"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/style",
  "sub"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sub",
  "summary"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/summary",
  "sup"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/sup",
  "table"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table",
  "tbody"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tbody",
  "td"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td",
  "template"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/template",
  "textarea"   =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/textarea",
  "tfoot"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tfoot",
  "th"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th",
  "thead"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/thead",
  "time"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/time",
  "title"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title",
  "tr"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr",
  "track"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/track",
  "tt"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tt",
  "u"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/u",
  "ul"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul",
  "var"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/var",
  "video"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video",
  "wbr"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/wbr",
  "xmp"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/HTML/Element/xmp",

  "math"                =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/math",
  "math.annotation"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/semantics",
  "math.annotation-xml" =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/semantics",
  "math.maction"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/maction",
  "math.maligngroup"    =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/maligngroup",
  "math.malignmark"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/malignmark",
  "math.menclose"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/menclose",
  "math.merror"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/merror",
  "math.mfenced"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mfenced",
  "math.mfrac"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mfrac",
  "math.mglyph"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mglyph",
  "math.mi"             =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mi",
  "math.mlabeledtr"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mlabeledtr",
  "math.mlongdiv"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mlongdiv",
  "math.mmultiscripts"  =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mmultiscripts",
  "math.mn"             =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mn",
  "math.mo"             =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mo",
  "math.mover"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mover",
  "math.mpadded"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mpadded",
  "math.mphantom"       =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mphantom",
  "math.mroot"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mroot",
  "math.mrow"           =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mrow",
  "math.ms"             =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/ms",
  "math.mscarries"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mscarries",
  "math.mscarry"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mscarry",
  "math.msgroup"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msgroup",
  "math.msline"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msline",
  "math.mspace"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mspace",
  "math.msqrt"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msqrt",
  "math.msrow"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msrow",
  "math.mstack"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mstack",
  "math.mstyle"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mstyle",
  "math.msub"           =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msub",
  "math.msubsup"        =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msubsup",
  "math.msup"           =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/msup",
  "math.mtable"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mtable",
  "math.mtd"            =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mtd",
  "math.mtext"          =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mtext",
  "math.mtr"            =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/mtr",
  "math.munder"         =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/munder",
  "math.munderover"     =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/munderover",
  "math.semantics"      =&gt; "https://developer.mozilla.org/en-US/docs/Web/MathML/Element/semantics",

  "svg.a"                   =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/a",
  "svg.altGlyph"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/altGlyph",
  "svg.altGlyphDef"         =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/altGlyphDef",
  "svg.altGlyphItem"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/altGlyphItem",
  "svg.animate"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/animate",
  "svg.animateColor"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/animateColor",
  "svg.animateMotion"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/animateMotion",
  "svg.animateTransform"    =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/animateTransform",
  "svg.circle"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/circle",
  "svg.clipPath"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/clipPath",
  "svg.color-profile"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/color-profile",
  "svg.cursor"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/cursor",
  "svg.defs"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/defs",
  "svg.desc"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/desc",
  "svg.discard"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/discard",
  "svg.ellipse"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/ellipse",
  "svg.feBlend"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feBlend",
  "svg.feColorMatrix"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feColorMatrix",
  "svg.feComponentTransfer" =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feComponentTransfer",
  "svg.feComposite"         =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feComposite",
  "svg.feConvolveMatrix"    =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feConvolveMatrix",
  "svg.feDiffuseLighting"   =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feDiffuseLighting",
  "svg.feDisplacementMap"   =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feDisplacementMap",
  "svg.feDistantLight"      =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feDistantLight",
  "svg.feDropShadow"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feDropShadow",
  "svg.feFlood"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feFlood",
  "svg.feFuncA"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feFuncA",
  "svg.feFuncB"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feFuncB",
  "svg.feFuncG"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feFuncG",
  "svg.feFuncR"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feFuncR",
  "svg.feGaussianBlur"      =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feGaussianBlur",
  "svg.feImage"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feImage",
  "svg.feMerge"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feMerge",
  "svg.feMergeNode"         =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feMergeNode",
  "svg.feMorphology"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feMorphology",
  "svg.feOffset"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feOffset",
  "svg.fePointLight"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/fePointLight",
  "svg.feSpecularLighting"  =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feSpecularLighting",
  "svg.feSpotLight"         =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feSpotLight",
  "svg.feTile"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feTile",
  "svg.feTurbulence"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/feTurbulence",
  "svg.filter"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/filter",
  "svg.font"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font",
  "svg.font-face"           =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font-face",
  "svg.font-face-format"    =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font-face-format",
  "svg.font-face-name"      =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font-face-name",
  "svg.font-face-src"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font-face-src",
  "svg.font-face-uri"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/font-face-uri",
  "svg.foreignObject"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/foreignObject",
  "svg.g"                   =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/g",
  "svg.glyph"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/glyph",
  "svg.glyphRef"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/glyphRef",
  "svg.hatch"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/hatch",
  "svg.hatchpath"           =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/hatchpath",
  "svg.hkern"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/hkern",
  "svg.image"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/image",
  "svg.line"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/line",
  "svg.linearGradient"      =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/linearGradient",
  "svg.marker"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/marker",
  "svg.mask"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/mask",
  "svg.mesh"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/mesh",
  "svg.meshgradient"        =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/meshgradient",
  "svg.meshpatch"           =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/meshpatch",
  "svg.meshrow"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/meshrow",
  "svg.metadata"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/metadata",
  "svg.missing-glyph"       =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/missing-glyph",
  "svg.mpath"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/mpath",
  "svg.path"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/path",
  "svg.pattern"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/pattern",
  "svg.polygon"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/polygon",
  "svg.polyline"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/polyline",
  "svg.radialGradient"      =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/radialGradient",
  "svg.rect"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/rect",
  "svg.script"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/script",
  "svg.set"                 =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/set",
  "svg.solidcolor"          =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/solidcolor",
  "svg.stop"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/stop",
  "svg.style"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/style",
  "svg"                     =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/svg",
  "svg.switch"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/switch",
  "svg.symbol"              =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/symbol",
  "svg.text"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/text",
  "svg.textPath"            =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/textPath",
  "svg.title"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title",
  "svg.tref"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/tref",
  "svg.tspan"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/tspan",
  "svg.unknown"             =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/unknown",
  "svg.use"                 =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/use",
  "svg.view"                =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/view",
  "svg.vkern"               =&gt;     "https://developer.mozilla.org/en-US/docs/Web/SVG/Element/vkern"
}

left_tag  = ENV["TM_SCOPE_LEFT"][/meta\.tag\.\w+\.((svg\.|math\.)?[\w\-]+)\.\w+\.html/, 1].to_s
right_tag = ENV["TM_SCOPE"][/meta\.tag\.\w+\.((svg\.|math\.)?[\w\-]+)\.\w+\.html/, 1].to_s

url = $tags[left_tag.downcase] || $tags[right_tag.downcase] || 'https://developer.mozilla.org/en-US/docs/Web/HTML/Element'

puts "&lt;meta http-equiv='Refresh' content='0;URL=#{url}'&gt;"
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^h</string>
	<key>name</key>
	<string>Documentation for Tag</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>text.html, text.html entity.name.tag</string>
	<key>semanticClass</key>
	<string>lookup.define.html</string>
	<key>uuid</key>
	<string>637CEA2B-578C-429C-BB74-30E8D42BFA22</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
