<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Symbol List: ID</string>
	<key>scope</key>
	<string>meta.attribute.id.html &gt; string</string>
	<key>settings</key>
	<dict>
		<key>showInSymbolList</key>
		<true/>
		<key>symbolTransformation</key>
		<string>
		s/^"|"$//g
		s/^'|'$//g
		s/^/ID: /
	</string>
	</dict>
	<key>uuid</key>
	<string>E7C5859E-122D-4382-84BE-5AB584DC2409</string>
</dict>
</plist>
